<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.os.busservice">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        >

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <service android:name=".services.LocationUpdatesService" android:exported="false"/>

        <meta-data android:name="com.google.android.geo.API_KEY" android:value="@string/google_map_key"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>

        <activity android:name=".ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.OtpVerifyActivity" />
        <activity android:name=".ui.activity.RegisterActivity"
            android:windowSoftInputMode="stateHidden"
            />
        <activity android:name=".ui.activity.LoginActivity"
            android:windowSoftInputMode="stateHidden"
            />
        <activity android:name=".ui.activity.DashBoardActivity"
            android:windowSoftInputMode="stateHidden"
            />
        <activity android:name=".ui.activity.BusTrackingActivity"
            android:windowSoftInputMode="stateHidden"
            />
        <activity android:name=".ui.activity.ForgotPwdActivity"
            android:windowSoftInputMode="stateHidden"
            />
        <activity android:name=".ui.activity.BusSearchListing"
            android:windowSoftInputMode="stateHidden"
            />
        <activity android:name=".ui.activity.GroupDetailsActivity" />
        <activity android:name=".ui.activity.BusSeatActivity"
            android:windowSoftInputMode="stateHidden"
            />
        <activity android:name=".ui.activity.PickupDropUpActivity"
            android:windowSoftInputMode="stateHidden"
            />
        <activity android:name=".ui.activity.BusBookingActivity"
            android:windowSoftInputMode="stateHidden"
            />
        <activity android:name=".ui.activity.EditProfileActivity" />
        <activity android:name=".ui.activity.ReferAndEarnActivity" />
        <activity android:name=".ui.activity.ChangePwdActivity" />
        <activity android:name=".ui.activity.AddressListActivity" />
        <activity android:name=".ui.activity.OfferListingActivity" />
        <activity android:name=".ui.activity.SortAndFilterActivity" />
    </application>

</manifest>